{% extends "layout.html" %}

<!-- prettier ignore -->
{% block content %}
<main class="container mx-auto mt-8 flex flex-col text-center">
    <h1 class="text-4xl">Sign Up</h1>
    <a class="text-green-600 hover:text-green-800 hover:underline" href="/register">Have an account?</a>
    <form
        class="mx-auto max-w-lg mt-8 text-right w-full"
        method="POST"
        action="/api/users"
        onsubmit="register(this);return false;"
    >
        <input
            class="block border border-gray-400 w-full placehodler-gray-400 py-3 px-6 rounded text-lg focus:border-blue-500"
            name="username"
            type="text"
            placeholder="Username"
        />
        <input
            class="block border border-gray-400 w-full placehodler-gray-400 py-3 px-6 rounded mt-4 text-lg focus:border-blue-500"
            name="email"
            type="email"
            placeholder="Email"
        />
        <input
            class="block border border-gray-400 w-full placehodler-gray-400 py-3 px-6 rounded mt-4 text-lg focus:border-blue-500"
            name="password"
            type="password"
            placeholder="Password"
        />

        <button
            class="inline-block mt-4 text-lg bg-green-600 text-white rounded py-3 px-6 disabled:opacity-75 disabled:cursor-not-allowed"
            type="submit"
        >
            Sign Up
        </button>

        <div class="text-left mt-4" id="register-errors"></div>
    </form>
</main>
{% endblock %}

<!-- prettier ignore -->
{% block scripts %}
<script type="application/javascript" src="/static/register.js"></script>
{% endblock %}
